@{
    ViewData["Title"] = "Privacy & Sicurezza";
}
<h1>@ViewData["Title"]</h1>

<p>Questa è un applicazione pensata per essere lanciata su un sistema in locale, 
    non dovresti preoccuparti di privacy e sicurezza!</p>
