@{
    ViewData["Title"] = "Pagina Home";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto in NBA InMatch!</h1>
    <p>Naviga le diverse pagine per scoprire tutte le funzionalità.</p>
</div>
